body {
    background-color: rgb(55, 255, 55);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    font-size: 30px;

}
body p{
    margin: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 17, 255);
}
body h1{
    margin: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 0, 0);
}

input {
    width: 72%;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    display: block;
}
button {
    width: 75%;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    display: block;
    background-color: rgb(255, 230, 0);
}

a {
    color: rgb(17, 0, 255);
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin: 20px 0;
}

/* style.css */

#CadastroFornecedor body {
    background-color: rgb(55, 255, 55);
    color: black;
    padding: 40px;
}

#CadastroFornecedor h1 {
    text-align: center;
    color: rgb(255, 0, 0);
}

#CadastroFornecedor form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(55, 255, 55);
    padding: 7px;
    border-radius: 8px;
}

#CadastroFornecedor label {
    display: block;
    margin-bottom: 5px;
    color: rgb(4, 0, 255);
}

#CadastroFornecedor input, select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#CadastroFornecedor input[disabled] {
    background-color: #e9ecef;
}

#CadastroFornecedor .full-width {
    grid-column: span 4;
    text-align: right;
}

#CadastroFornecedor .submit-btn {
    background-color: rgb(55, 255, 55);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#CadastroFornecedor .submit-btn:hover {
    background-color: rgb(55, 255, 55);
}

#CadastroFornecedor .back-link {
    text-align: center;
    margin-top: 20px;
}

#CadastroFornecedor .back-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#CadastroFornecedor .back-link a:hover {
    text-decoration: underline;
    color: red;
}
